In [4]:
import pandas as pd
import json

In [3]:
df = pd.read_excel('2020-12-09LandkreisFaelle.xlsx')
df

                                      LK   Fälle    Inzidenz
0                               LK Regen     441  569.693838
1    LK Sächsische Schweiz-Osterzgebirge    1293  526.495810
2                             LK Bautzen    1480  493.731610
3                    LK Altenburger Land     411  459.767543
4                              LK Meißen    1091  451.354270
..                                   ...     ...         ...
408                             SK Emden       9   18.031375
409               LK Schleswig-Flensburg      23   11.433912
410                           LK Rostock      24   11.121718
411                 LK Lüchow-Dannenberg       2    4.131207
412                                  NaN  123793         NaN

[413 rows x 3 columns]

In [5]:
## get geojson

geojson_ger = json.load(open('deutschland_gemeinden_simplify20.geojson', 'r'))
geojson_ger['features'][0]

TypeError: load() takes 1 positional argument but 2 were given